h2 {
    text-align: center;
    color: #0b2953;
    display: block;
    font-size: 25px;
    font-family: Arial, sans-serif;
    margin-block-start: 0.5em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 900; 
}
p1 {
    text-align: left;
    display: block;
    font-size: 15px;
    font-family: Georgia, serif;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;    
}
p2 {
    text-align: left;
    display: block;
    font-size: 15px;
    font-family: "Gill Sans", sans-serif;
    margin-block-start: 0.5em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;    
    text-shadow: 0.6px 0.6px 0.6px rgb(43, 18, 132);
}
a {
    text-align: center;
    color: rgb(61, 43, 224);
    display: block;
    font-size: 16px;
}
img {
  box-shadow: 0 0 10px rgb(23, 17, 88);
  border-radius:10px 10px 10px 10px;
}
.flex {
  display: flex;
  justify-content: center;
}
.item {
  width: 50%;
  margin: 5px 10px 5px 10px;
}
.item img {
  width: 100%;
  height: auto;
  text-align: center;
  display: block;
  max-width: 130%;
  box-shadow: 0 0 8px rgb(23, 17, 88);
  border-radius:10px 10px 10px 10px;
}
.item h3 {
  margin: 1;
  text-transform: uppercase;
  color: rgb(23, 17, 88);
  font-size: 3vw;
}
.item p {
  margin: 15px 1;
  font-size: 15px;
  display: block;
  font-family: 'Ceviche One', arial, serif;   
}
div#tekst_sverhu_kartinki {
    position: relative;
}
.tekst_sverhu_kartinki {
    position: absolute;
    top: 30%;
    left: 57px;
    text-transform: uppercase;
    color: #1f1958;
    width: 200px;
    background: #e7e7f894;
    padding: 10px;
    text-align: center;
    font: bold 24px/34px Helvetica, Sans-Serif;
}
body {
    background-image: url(/Image/nn/fon6.png); 
    background-repeat: no-repeat   
}
.place
{
    text-decoration: none;
}